.split {
  width: 100%;
  height: 5px;
  background: #ebebeb;
}
#logou {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.userImg {
  width: 100%;
  height: 11rem;
  background: url(../../assets/img/myCenterTop.png) no-repeat;
  background-size: 100% 100% ;
  padding: 3rem;
}
.userImg .user_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  float: left;
}
.userImg .user_title,
.userImg .user_name {
  display: inline-block;
  width: 60%;
  float: left;
  color: #fff;
  padding-left: 0.5rem;
}
.user_money_info {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.user_money_info .user_money_items {
  display: flex;
  margin-bottom: 0;
}
.user_money_info .user_money_items li {
  text-align: center;
  float: left;
  flex: 1;
  flex-wrap: wrap ;
}
.user_money_info .user_money_items li > h2 {
  color: #ff6733;
  font-weight: 600;
  font-size: 3rem;
}
.user_money_info .user_money_items li > p {
  color: #000;
}
.user_money_info .user_money_items li:nth-child(2) {
  border-left: 1px solid #ccc;
}
.media_list {
  width: 100%;
  padding-bottom: 44px;
  height: auto;
  position: relative;
}
.media_list .list_item {
  width: 100%;
  min-height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid #eee;
  position: relative;
}
.media_list .list_item a .list-item-icon {
  display: inline-block;
  float: left;
  margin-left: 0.3rem;
  width: 2rem;
  height: 2rem;
  background: url(../../assets/img/money.png) no-repeat;
  background-size: 100% 100% ;
  vertical-align: middle;
  position: absolute;
  top: 0.5rem;
  left: 0.3rem;
}
.media_list .list_item a > .tixian {
  background: url(../../assets/img/money.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .record {
  background: url(../../assets/img/record.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .Profit {
  background: url(../../assets/img/Profit.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .histroy {
  background: url(../../assets/img/histroy.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .fov {
  background: url(../../assets/img/fov.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .common {
  background: url(../../assets/img/userCommon.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .about {
  background: url(../../assets/img/about.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a > .problem {
  background: url(../../assets/img/problem.png) no-repeat;
  background-size: 100% 100% ;
}
.media_list .list_item a .list-item-right {
  display: inline-block;
  float: right;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../../assets/img/arrow_right.png) no-repeat;
  background-size: 100% 100% ;
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
}
.media_list .list_item a span {
  padding-left: 3.5rem;
}
