<header class="am-titlebar-cols">
  <a routerLink="/about" class="icon-cheveron-left"></a>
  <h2 class="am-titlebar-title">联系我们</h2>
</header>
<div class="am-container">
  <section>
    <h1 class="blue allFont"><b>客服联系方式</b></h1>
    <p class="fontSize"><span>QQ号：{{kfqq}}</span></p>
    <p class="fontSize"><span>QQ群号：{{kfqQunNum}}</span></p>
    <!-- <p class="qq_icon"> 
        <span>点击图片加入QQ群：</span>
        <span [innerHTML]='kfqqQunImg'></span>
    </p> -->
    <p class="fontSize"><span>提现微信号：{{txWxNum}}</span></p>
    <h1 class="blue allFont"><b>商务合作联系方式</b></h1>
    <p class="fontSize"><span>联系人：微糖商务合作</span></p>
    <p class="fontSize"><span>QQ号：{{swqq}}<b>(加的时候备注商务合作)</b></span></p>
  </section>
</div>