<header class="am-titlebar-cols">
  <a routerLink="/usermoney" class="icon-cheveron-left"></a>
  <h2 class="am-titlebar-title">规则说明</h2>
</header>
<div class="am-container">
  <section>
    <h1 class="blue allFont"><b>《海英赚》的价值</b></h1>
    <p>
      <span>您在海英赚APP的玩法，均可为您带来不菲收益。</span>
    </p>
    </section>
    <section>
      <h1 class="blue allFont"><b>《海英赚》英币规则</b></h1>
      <p>
        <span>100英币 = 1元，满足条件，即可提现您的微信。</span> 
      </p>
      <h3 class="blueFont"><b>1、阅读APP内文章即可获取英币</b></h3>
      <p><span>您在阅读APP内的文章时，如果觉得内容比较喜欢，或是有
        收获，可将该内容分享到其他社交平台，如果有朋友点击了
        您的分享，即可获得相关收益。</span></p>
      <h3 class="blueFont"><b>2、注册奖励</b></h3>
      <p><span>只要您下载了海英赚APP，并注册登录，我们都会给您50英
        币作为您的注册奖励，发放到您的当前账户中。</span></p>
      </section>
</div>