<header class="am-titlebar-cols">
		<a routerLink="/my-center" class="icon-cheveron-left"></a>
		<h2 class="am-titlebar-title">海英赚</h2>
	</header>
<div class="am-container">
	<!-- <section class="am-panel am-panel-default" style="margin-top: 5rem;">
	  <header class="am-panel-hd">
	    <h3 class="am-panel-title">联系我们</h3>
	  </header>
	  <div class="am-panel-bd">
	    <h3 class="am-panel-title">商务合作</h3>
	    <p>联系人：微糖商务合作</p>
	    <p>QQ：<i class="am-red">2188417468</i>(加的时候备注商务合作)</p>
	    <p>点击图片加入QQ群:<a target='_blank' href='http://shang.qq.com/wpa/qunwpa?idkey=f38344f28fec076c53430470a9c61537e8246ac8b5b6495d463cef36ebdb196d'><img style="width: 8rem;margin-left: 1rem;" border='0' src='http://pub.idqqimg.com/wpa/images/group.png' alt='微糖资讯--客服' title='微糖资讯--客服'></a></p>
	  	<p>QQ群号：<i class="am-red">736102072</i></p>
	  	<p>提现微信号：<i class="am-red">zysj138</i></p>
	  </div>
	</section> -->
	<div class="content"> 
		<div class="logo"> 
			<img src='assets/img/logo.png' alt="">

		</div>
		<div class="appVer fontSize">
			<span style="color:#616161;">V 0.0.1</span>
		</div>
		<div class="appName" style="padding: 0;margin: 0;">
			<span class="blueFont"  style="font-size: 1rem;">海英赚</span>
		</div>
		<div class="appDec fontSize">
			<span style="color:#616161;letter-spacing: 0.1rem;">海英赚让你零花钱不用愁</span>
		</div>
		<div class="logout marTop fontSize">
			<button (click)="logout()" class="blue allFont">退出登录</button>
		</div>
		<div class="logout fontSize" routerLink="/contact">
			<button class="blue allFont">联系我们</button>
		</div>
	</div>
	<!-- <p class="blueFont jiance fontSize" >在线检测</p> -->
</div>