<header class="am-titlebar-cols">
	<a routerLink="/navtab" class="icon-cheveron-left">高佳文详情</a>
</header>
<div class="am-container">
  <div class="articleContent">
    <div id="divContent" class="divContent">
      <h4>注意事项</h4>
      <p>1、该文章在APP内不显示，转发后显示</p>
      <p>2、文章收益高，转发之后，计算有效点击。</p>
      <p>3、己启用防作弊机制，一经发现作弊，立即做封号处理。</p>
    </div>
  </div>
  <nav class="dibu">
      <h2>分享好友或者朋友圈即可查看内容</h2>
    <div class="invite_btn">
      
      <a><span></span></a>
      <a id="weixinA"><span></span></a>
      <a id="pengyouA"><span></span></a>
      <a><span></span></a>
    </div>
  </nav>
</div>