<div class="container">
  <div class="logo_img"><img src="assets/img/logo.png"/></div> 
  <div class="loginTab">
    <div class="loginItem">
      <div class="label-item">
        <!-- <label>
          <i class="username"></i>
        </label> -->
        <input type="text" id="userName" placeholder="请输入手机号" class="allFont">
      </div>
      <div class="clear"></div>
      <div class="label-item">
        <!-- <label>
          <i class="pass"></i>
        </label> -->
        <input type="password" id="passWord" placeholder="请输入密码" class="allFont">
      </div>
      <div class="clear"></div>
      <div class="loginBtn allBg">
        <input type="submit" (click)="login()" value="登录" class="loginSubmit">
      </div>
      <div class="reg">
        <a routerLink="/reg" class="allFont">立即注册</a>
        <a routerLink="/forgpass" class="allFont">忘记密码？</a>
      </div>
    </div>
  </div>
  <!-- <div class="outher">
    <img src="assets/img/outher.png" alt="">
    <div class="outherItem">
      <i class="weixin"></i>
    </div>
  </div> -->
</div>
