<header class="am-titlebar-cols">
  <a routerLink="/login" class="icon-cheveron-left"></a>
  <h2 class="am-titlebar-title">找回密码</h2>
</header>
<div class="forgetCon">
  <!-- <p>请正确填写一下信息:</p> -->
  <div class="from-item">
    <input type="number" class="bottomBorderBlue" id="userName" placeholder="请输入手机号">
  </div>
  <div class="from-item">
    <input type="password"  class="bottomBorderBlue" id="password" placeholder="请输入密码">
  </div>
  <div class="from-item">
    <input type="password"  class="bottomBorderBlue" id="regPassWord" placeholder="请输入确认密码">
  </div>
  <div class="from-item" >
    <input type="number"  class="bottomBorderBlue" id="codeNum" placeholder="请输入验证码">
    <button (click)="getCode()" class="blue allFont"  id="getCode">获取验证码</button>
  </div>
  <div class="submitBtn">
    <button (click)="changePass()" class="blue">确定</button>
  </div>
</div>
